{
  "extends": ["stylelint-config-recommended-scss", "stylelint-prettier/recommended"],
  "plugins": ["@namics/stylelint-bem"],
  "rules": {
    "plugin/stylelint-bem-namics": {
      "namespaces": ["ddb-"],
      "patternPrefixes": [],
      "helperPrefixes": []
    },
    "declaration-property-value-blacklist": [
      {"/.*/": "unset"},
      {
        "message": "people still use IE11 - \"unset\" is not supported.",
        "severity": "warning"
      }
    ]
  }
}
