{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-prettier"],
  "plugins": ["@namics/stylelint-bem"],
  "rules": {
    "plugin/stylelint-bem-namics": {
      "namespaces": ["ddb-"],
      "patternPrefixes": [],
      "helperPrefixes": []
    }
  }
}
